TZ=Asia/Seoul
SPRING_PROFILES_ACTIVE=prod

#DB_URL=jdbc:mysql://mysql-db-host:3306/jjikmeok?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useUnicode=true
#DB_USERNAME=jjikmeok_app
#DB_PASSWORD=change-me
DB_URL=jdbc:mysql://localhost:3306/jjikmeok?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=JjikmeokAdmin
DB_PASSWORD=1234

REDIS_HOST=redis
REDIS_PORT=6379

STORAGE_TYPE=oci
OCI_REGION=ap-chuncheon-1
OCI_OBJECT_STORAGE_NAMESPACE=change-me
OCI_OBJECT_STORAGE_BUCKET=jjikmeok
OCI_OBJECT_STORAGE_PUBLIC_BASE_URL=https://objectstorage.ap-chuncheon-1.oraclecloud.com/n/namespace/b/jjikmeok/o
OCI_AUTH_TYPE=INSTANCE_PRINCIPAL

JAVA_TOOL_OPTIONS=-Xms512m -Xmx1024m
SERVER_PORT=8080
JPA_DDL_AUTO=validate
FLYWAY_ENABLED=true

GMAIL_ID=change-me
SMTP_PASSWORD=change-me
OPENAI_API_KEY=change-me
JWT_SECRET_KEY=change-me

KAKAO_CLIENT_ID=change-me
KAKAO_REDIRECT_URI=https://api.example.com/api/v1/oauth/kakao/callback
GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
GOOGLE_REDIRECT_URI=https://api.example.com/api/v1/oauth/google/callback
NAVER_CLIENT_ID=change-me
NAVER_CLIENT_SECRET=change-me
NAVER_REDIRECT_URI=https://api.example.com/api/v1/oauth/naver/callback

SERPER_API_KEY=change-me
GOOGLE_SHEETS_ENABLED=false
